
<config>
	<host>127.0.0.1</host>
	<database>doublering</database>
	<username>ctottrunsql</username>
	<password>ctottruningsql</password>
	<spideobject>peoplefriends</spideobject>
	<api>0d710ff945e1ce2e28532febd1a56a8a</api>
	<secret>a893ec016ab25793</secret>
	<fromid>1000001</fromid>
	<toid>1020000</toid></config>