
<config>
	<host>127.0.0.1</host>
	<database>doublering</database>
	<username>ctottrunsql</username>
	<password>ctottruningsql</password>
	<spideobject>subject</spideobject><!--spideobject assigns the type of data, which should only be 'people','subject','peoplefriends' and so on. Notice that you should assign other parameters.-->
	<api>0db84fa1de641fab2928eee59b2c5f01</api>
	<secret>69e48b6a408a16a7</secret>
	<fromid>1000002</fromid>
	<toid>2100000</toid><!--fromid and toid limit the range of the object id, useful when spideobject is 'people','subject'-->
	<seed>1000300</seed><!--seed is only used when the spideobject is 'peoplefriends',seed should be a small id which has a large number of friends.-->
</config>