
<config>
	<host>127.0.0.1</host>
	<database>doublering</database>
	<username>ctottrunsql</username>
	<password>ctottruningsql</password>
	<spideobject>peoplefriends</spideobject>
	<api>
		06d5aaf0b4b5f090148100d21e21d1b0
		</api>
	<secret>fe59f2f75e4332ec</secret>
	<fromid>1000001</fromid>
	<toid>1020000</toid></config>